# Згенерувати ключ: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=your-secret-key-here

# True під час розробки, False у продакшені
DEBUG=True